<footer class="dark">
    <hr class="dark">

    <div class="alignRow">
        <div class="center alignRow spaceBetween">

            <a href="https://github.com/entokyado" class="socialMedia blueFont">
                <img src="/images/SVGs/GitHub/github-mark/github-mark.svg">
                <span>
                    GitHub
                </span>
            </a>

            <a href="https://www.linkedin.com/in/guilherme-jatobá-5228722b5/" class="socialMedia blueFont">
                <img src="/images/SVGs/LinkedIn/linkedin-svgrepo-com.svg">
                <span>
                    LinkedIn
                </span>
            </a>

            <a href="mailto:jatobagui122004@gmail.com" class="socialMedia blueFont">
                <img src="/images/SVGs/Gmail/Gmail_Logo_Black.svg">
                <span>
                    Gmail
                </span>    
            </a>

            <a href="https://www.instagram.com/guijtb._/" class="socialMedia blueFont">
                <img src="/images/SVGs/Instagram/instagram-vector-logo-seeklogo/instagram-seeklogo.svg">
                <span>
                    Instagram
                </span>
            </a>

            <a href="https://x.com/GuilhermeJatob1" class="socialMedia blueFont">
                <img src="/images/SVGs/Twitter/x-logo/logo.svg">
                <span>
                    Twitter (X)
                </span>    
            </a>

        </div>
    </div>
</footer>
</body>

<script src="/scripts/client.js"></script>

</html>
