<%- include("partials/header.ejs") %>

<main>
<div class="center darkText">

    <div class="about alignRow">

        <div class="aboutImg alignColumn">
            <img src="/images/JPGs/WhatsApp Image 2024-08-21 at 11.30.46.jpeg">

            <h3 class="blueFont">
                Guilherme De Oliveira Jatobá
            </h3>
        </div>

        <div>
            <p>
                Hello, my name is Guilherme but you can call me Gui, i'm a brazilian full stack web developer studying 
                computer sience at the college, besides of the college i'm also studying through some courses of 
                <a href="https://www.udemy.com/user/4b4368a3-b5c8-4529-aa65-2056ec31f37e/" class="blueFont">Dr. Angela Yu</a>, 
                i'm 20 years old, fluent in Portuguese, English and aimling for learning more languages, speaking of languages, 
                i can use HTML, CSS, JavaScript, NodeJs, Express, EJS, Java, C++ and more, If you got some intrest on hiring me 
                or something, my professional and personal social medias are on the footer section down below.
            </p>

            <p>
                Olá, meu nome é Guilherme mas podem me chamar de Gui, sou um desenvolvedor web full stack brasileiro estudando 
                ciências da computação na faculdade, além da faculdade também estou cursando alguns cursos da 
                <a href="https://www.udemy.com/user/4b4368a3-b5c8-4529-aa65-2056ec31f37e/" class="blueFont">Dr. Angela Yu</a>, 
                tenho 20 anos, sou fluente em português, inglês e com vontade de aprender mais linguagen, falando em linguagens, 
                sei usar HTML, CSS, JavaScript, NodeJs, Express, EJS, Java, C++ e mais, caso tenha interesse em me contratar, 
                minhas mídias sociais profissionais e pessoais estão no footer abaixo.
            </p>
        </div>
        
    </div>

</div>
</main>

<%- include("partials/footer.ejs") %>